//footer
.footer {
    padding: 40px 0;
    background-color: $primaryColor;
    color: #000;
    .conditions-text {
        color: #fff;
        text-decoration: underline;
    }
}
.social__list {
    display: flex;
    justify-content: flex-end;
    &-item {
        margin-left: 10px;
        a {
            display: flex;
            width: 50px;
            height: 50px;
            background-color: #fff;
            padding: 13px;
            // border-radius: 50%;
            transition: all 0.3s ease 0s;
            &:hover {
                background-color: transparent;
                border: 1px solid #fff;
                transition: all 0.3s ease 0s;
                svg {
                    fill: #fff;
                }
            }
        }

        svg {
            width: 100%;
            height: 100%;
            fill: $primaryColor;
        }
    }
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    background: $primaryColor;
    border-radius: 50%;
    display: none;
    box-shadow: 0px 0px 6px 0px #000000;
    svg {
        width: 100%;
        fill: #fff;
        vertical-align: baseline;
    }
}
.positive-text {
    color: #fff;
}
.negative-text {
    color: #c51603;
}
@media (max-width: 576px) {
    .social__list {
        justify-content: center;
    }
}
