.nav-sticky.header {
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    position: fixed;
    background-color: $secondaryColor;
}
header {
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    transition: 0.3s;
    .order-btn {
        background-color: $primaryColor;
        color: #fff;
        position: relative;
        padding: 5px 50px;
        border-radius: 10px;
        color: #fff;
        display: inline-flex;
        transition: 1s;
        overflow: hidden;
        align-items: center;
    }
}
.logo {
    width: 70px;
    svg {
        width: 100%;
        height: 100%;
        fill: $primaryColor;
    }
}
.menu {
    display: flex;
    align-items: center;
}
nav.hide-menu {
    transform: scale(0);
}
nav {
    transition: all 0.3s;
    transform-origin: 100% 50%;
    a {
        padding: 0 30px;
        color: #000;
        &:hover {
            color: $primaryColor;
        }
    }
}
.icons__list {
    display: flex;
}
.icons__item {
    a {
        background: $primaryColor;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        transition: all 0.3s;
        &:hover {
            background: $secondaryColor;
            transition: all 0.3s;
            svg {
                fill: #fff;
            }
        }
    }
    svg {
        width: 18px;
        height: 18px;
        fill: $secondaryColor;
    }
}

.menu-bar {
    display: none;
    margin-left: 70px;
    position: relative;
    width: 28px;
    height: 32px;
    cursor: pointer;
    z-index: 99;
    float: right;
    transition: all 3.3s;
    &::before,
    &::after {
        content: "";
        transition: all 0.3s;
    }
    span,
    &::before,
    &::after {
        position: absolute;
        width: 100%;
        height: 3px;
        display: block;
        background: $primaryColor;
        border-radius: 2px;
        position: absolute;
        opacity: 1;
    }
    &::before {
        top: 4px;
    }
    &::after {
        top: 22px;
    }
    span {
        top: 13px;
    }
    //hover
    &:hover::before {
        top: 5px;
    }
    &:hover::after {
        top: 21px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.75);
    z-index: 90;
    visibility: hidden;
    opacity: 0;
}
.overlay.active {
    visibility: visible;
    opacity: 1;
}
.close-menu {
    position: absolute;
    top: 41px;
    left: 28px;
    width: 30px;
    height: 30px;
    transform-origin: center center;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}

.menu-hidden {
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
    div {
        width: 100%;
        height: 2px;
        background: #ffffff;
        top: 8px;
        transition: all 200ms ease;
        &:last-of-type {
            transform: rotate(90deg) translateX(-2px);
            transform-origin: center;
        }
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100vh;
    background: $primaryColor;
    z-index: 99;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    transition: all 0.4s;
    .menu {
        margin-top: 70px;
        flex-direction: column;
        a {
            width: 100%;
            padding: 10px 0;
            color: #fff;
        }
    }
    .order-btn {
        margin-top: 20px;
        background-color: $secondaryColor;
        padding: 5px 40px;
        &:hover {
            background-color: $secondaryColor;
            color: #fff;
        }
    }
    .icons__list {
        margin-top: 50px;
        a {
            background-color: #fff;
            svg {
                fill: $secondaryColor;
            }
            &:hover {
                background: $secondaryColor;
                svg {
                    fill: #fff;
                }
            }
        }
    }
}
.mobile-menu.active {
    right: 0;
}
@media (max-width: 767px) {
    .menu {
        position: relative;
    }
}
@media (max-width: 576px) {
    .menu a {
        font-size: 18px;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
}
