.hero {
	position: relative;
	color: #fff;
	background: $secondaryColor;
	font-family: "Playfair Display", serif;
	height: 100vh;
	// &::after {
	// 	content: "";
	// 	background-image: url(../img/shape.png);
	// 	width: 100%;
	// 	height: 132px;
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: -1px;
	// 	transform: rotate(180deg);
	// }
	h1 {
		font-size: 80px;
		color: $primaryColor;
		font-weight: bold;
	}
	h3 {
		font-size: 40px;
	}
}
.right-hero {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}
.hero-text {
	padding-left: 50px;
}

@media (max-width: 1160px) {
	.hero h1 {
		font-size: 70px;
	}
}

@media (max-width: 1030px) {
	.hero-text {
		padding-left: 15px;
	}
}

@media (max-width: 991px) {
	.hero {
		padding-top: 150px;
		height: auto;
	}
	.hero-text {
		padding-bottom: 100px;
	}
	.right-hero {
		height: 600px;
	}
}
@media (max-width: 576px) {
	.hero {
		padding-top: 130px;
		h3 {
			font-size: 24px;
		}
		h1 {
			font-size: 40px;
		}
	}
	.order-btn {
		padding: 5px 30px;
		&::after {
			width: 55px;
		}
	}
	.hero-text {
		padding-bottom: 60px;
	}
}
